*{
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin: 150px auto;
    background-color: #eee;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
    color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
div::before {
    content: "";
    margin: 150px auto;
    background-color: #ffee00;
    width: 219px;
    height: 220px;
    border: 10px solid #2196f3;
    border-top: 10px solid #fff;
    border-radius: 100%;
    position: absolute;
    border-radius: 100%;
    top: -20px;
    left: 563px;
    z-index: -2;
    transform: rotate(92deg);
    -webkit-transform: rotate(92deg);
    -moz-transform: rotate(92deg);
    -ms-transform: rotate(92deg);
    -o-transform: rotate(92deg);
}
div::after {
    content: "";
    margin: 140px auto;
    background-color: #e91e63;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    border: 10px solid #e91e63;
    border-top: 10px solid #FFF;
    border-radius: 100%;
    left: 573px;
    z-index: -2;
    transform: rotate(265deg);
    -webkit-transform: rotate(265deg);
    -moz-transform: rotate(265deg);
    -ms-transform: rotate(265deg);
    -o-transform: rotate(265deg);
}