body{
    text-transform: capitalize;
    font-family: sans-serif;
}
/*Assignment 1*/
.container{
    width: 1000px;
    background-color: rgb(194, 194, 194);
    
}
.clear{
    clear: left;
}

.full-width, .one, .three, .two{
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 15px;
    background-color: rgb(142, 142, 143);
}
.full-width{
    width:100%;
    float: left;
    width: calc((100% - 30px) / 1);
    margin-left: 15px;
    margin-top: 15px;
}
.one{
    float: left;
    width: calc((100% - 60px) / 3);
    margin-left:15px;
    /*
    Content width is :100% 
    2 spaces 15px * 30 => 30px
    (100% - 30px) Avalable space
    1 elements the width is : (100% - 30px) / 1
    */
}
.two{
    float: left;
    width: calc((100% - 45px) / 2);
    margin-left:15px;
}
.three{
    float: left;
    width: calc((100% - 75px) / 4);
    margin-left:15px;
}

/*Assignment 2*/

.normal, .foor, .five {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    color: black;
}
.normal{
    background-color: rgb(179 179 179); 
}
.foor{
    background-color: rgb(179 179 179 / 50%);  
}
.five{
    background-color: rgb(179 179 179);
    opacity: 0.5;
}