*{
    font-weight:bold ;
    font-family:'Times New Roman', Times, serif;
}
div{
    text-align: center;
    margin-top: 200px;
}


@media Print {
    .assign-one{
        font-size: 40px;
    }   
}