*{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-transform: capitalize;
    font-weight: 900;
}

div{
    margin: 200px auto;
    width: 200px;
    height: 210px;
    background-color: #607d8b;
    border-bottom: 6px solid black;
}
div::after {
    content: "elzero";
    color: white;
    position: absolute;
    top: 380px;
    right: 713px;
}
div::before {
    content: "";
    width: 136px;
    height: 136px;
    background-color: #0e0d0d;
    border-left: 6px solid white;
    border-bottom: 6px solid white;
    position: absolute;
    top: 129px;
    right: 612px;
    transform: rotateZ(316deg);
    -webkit-transform: rotateZ(316deg);
    -moz-transform: rotateZ(316deg);
    -ms-transform: rotateZ(316deg);
    -o-transform: rotateZ(316deg);
}